<h1><%= render text: User.find_by(id: params[:user_id]).name %>'s Favorite Artists</h1>
<br />
<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-md-4 text-center">
      <%= content_tag :iframe, '', src: "https://open.spotify.com/embed?uri=#{artist.spotify_uri}", width: 300, height: 380, frameborder: false %>
      <br />
      <br />
    </div>
    <br>
  <% end %>
</div>
